@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  width: 100%;
  padding-bottom: 2.25rem;

  @include desktop {
    width: 70%;
  }

  &__header {
    padding: 0.5rem 0rem;

    @include tablet {
      padding: 1rem 0rem;
    }
  }
  &__list {
    padding: 0.5rem 0rem;
    border-top: 0.125rem solid $seagreen-secondarycolor;

    @include tablet {
      padding: 1rem 0rem;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    color: $forestgreen-primarycolor;
    font-weight: 500;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-bottom: 1rem;
    }
  }

  &__top-item {
    @include tablet {
      font-size: 0.75rem;
      line-height: 0.9375rem;
    }
  }

  &__bottom {
    font-weight: 500;
  }
}
