@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photo-page {
  &__card {
    border-radius: 1rem;
    background-color: $background-secondarycolor;
    border: 0.125rem solid $seagreen-secondarycolor;
  }

  &__image {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: left;

    @include tablet {
      gap: 1.5rem;
      padding: 1.5rem;
    }
  }

  &__tags-item {
    padding: 8px;
    background-color: $white-secondarycolor;
    border-radius: 8px;
    border: 1px solid $seagreen-secondarycolor;

    @include tablet {
      padding: 8px 24px;
      border-radius: 12px;
    }

    &:hover {
      background-color: $seagreen-secondarycolor;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 16px 16px 16px;

    @include tablet {
      padding: 0px 24px 24px 24px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      width: 70%;
      justify-content: space-between;
    }
  }

  &__likes {
    display: flex;
    gap: 4px;
    align-items: center;

    &-icon {
      width: 13px;
      height: 11px;

      @include tablet {
        width: 16px;
        height: 15px;
      }
    }

    &-item {
      font-size: 14px;

      @include tablet {
        line-height: 1.625rem;
        font-size: 1.25rem;
      }
    }
  }

  &__name {
    display: flex;
    padding-top: 8px;
    font-size: 14px;

    @include tablet {
      padding: 0px;
      line-height: 1.625rem;
      font-size: 1.25rem;
    }
  }

  &__date {
    font-size: 14px;

    @include tablet {
      line-height: 1.625rem;
      font-size: 1.25rem;
    }
  }
}
