@font-face {
  font-family: "Newsreader";
  src: url(../../assets/font/Newsreader-Light.woff) format("woff");
  src: url(../../assets/font/alternativefiles/Newsreader-Light.woff2)
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url(../../assets/font/Newsreader-LightItalic.woff) format("woff");
  src: url(../../assets/font/alternativefiles/Newsreader-LightItalic.woff2)
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url(../../assets/font/Newsreader-Regular.woff) format("woff");
  src: url(../../assets/font/alternativefiles/Newsreader-Regular.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url(../../assets/font/Outfit-Light.woff) format("woff");
  src: url(../../assets/font/alternativefiles/Outfit-Light.woff2)
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url(../../assets/font/Outfit-Medium.woff) format("woff");
  src: url(../../assets/font/alternativefiles/Outfit-Medium.woff2)
    format("woff2");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}
