@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-style($direction, $items, $content) {
  display: flex;
  flex-direction: $direction;
  align-items: $items;
  justify-content: $content;
}
