@use "./fonts" as *;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primary-font: "Outfit", sans-serif;
$secondary-font: "Newsreader", sans-serif;
$black-primarycolor: #0c1e1a;
$forestgreen-primarycolor: #1e6655;
$background-primarycolor: #effaf7;
$background-secondarycolor: #e4efec;
$seagreen-secondarycolor: #b7cec9;
$white-secondarycolor: #ffffff;
