@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
}

.form__name {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-input {
    min-width: 280px;
    padding: 8px;
    height: 30px;
    border-radius: 8px;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 16px;
    border: 2px solid $seagreen-secondarycolor;

    &:active {
      border: 2px solid $forestgreen-primarycolor;
    }
    &--error {
      border: 2px solid #b10606;
    }
  }
}

.form__comment {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-input {
    min-width: 280px;
    padding: 8px;
    height: 70px;
    border-radius: 8px;
    font-family: $primary-font;
    font-size: 12px;
    line-height: 16px;
    border: 2px solid $seagreen-secondarycolor;
    resize: none;

    &:active {
      border: 2px solid $forestgreen-primarycolor;
    }
    &--error {
      border: 2px solid #b10606;
    }
  }
}

.form__cta {
  display: flex;
  justify-content: right;
}
.form__button {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  border-width: 0px;
  border-color: $forestgreen-primarycolor;
  color: $white-secondarycolor;
  background-color: $forestgreen-primarycolor;
}
