@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 0px 24px 0px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;

  @include tablet {
    line-height: 1.625rem;
    font-size: 1.25rem;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-input {
      min-width: 280px;
      padding: 8px;
      height: 1.875rem;
      border-radius: 8px;
      font-family: $primary-font;
      font-size: 12px;
      line-height: 16px;
      border: 2px solid $seagreen-secondarycolor;

      @include tablet {
        height: 2.5rem;
        line-height: 1.625rem;
        font-size: 1.25rem;
      }

      &:active {
        border: 2px solid $forestgreen-primarycolor;
      }
      &--error {
        border: 2px solid #b10606;
      }
    }
  }

  &__comment {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-input {
      min-width: 280px;
      padding: 8px;
      height: 4.375rem;
      border-radius: 8px;
      font-family: $primary-font;
      font-size: 12px;
      line-height: 16px;
      border: 2px solid $seagreen-secondarycolor;
      resize: none;

      @include tablet {
        line-height: 1.625rem;
        font-size: 1.25rem;
        height: 5.625rem;
      }

      &:active {
        border: 2px solid $forestgreen-primarycolor;
      }
      &--error {
        border: 2px solid #b10606;
      }
    }
  }

  &__cta {
    display: flex;
    justify-content: right;
  }

  &__button {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border-width: 0px;
    border-color: $forestgreen-primarycolor;
    color: $white-secondarycolor;
    background-color: $forestgreen-primarycolor;

    @include tablet {
      line-height: 1.625rem;
      font-size: 1.25rem;
      padding: 10px 26px;
      border-radius: 10px;
    }
  }
}
