@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  padding: 1.5rem 1rem;
  background-color: $background-primarycolor;
  @include flex-style(row, center, space-between);

  @include tablet {
    padding: 2rem;
  }

  &__text {
    color: $black-primarycolor;
  }

  &__button {
    padding: 0.5rem 0.625rem;
    border: 0.125rem solid $forestgreen-primarycolor;
    border-radius: 624.9375rem;
    background-color: $white-secondarycolor;
    color: $forestgreen-primarycolor;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 0.75rem;
    font-family: $primary-font;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 30%;

    @include tablet {
      line-height: 0.9375rem;
      font-size: 0.75rem;
      width: 20%;
    }

    @include desktop {
      width: 10%;
    }
    &:hover {
      background-color: $forestgreen-primarycolor;
      color: $white-secondarycolor;
      .header__icon {
        fill: $white-secondarycolor;
      }
    }

    &--active {
      background-color: $forestgreen-primarycolor;
      color: $white-secondarycolor;
      .header__icon {
        fill: $white-secondarycolor;
      }
    }
  }

  &__icon {
    width: 1.0625rem;
    height: 1.0625rem;
    fill: $forestgreen-primarycolor;
  }
}
