@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  padding: 1.5rem 1rem;
  background-color: $background-primarycolor;
  @include flex-style(row, center, space-between);

  @include tablet {
    padding: 32px;
  }

  &__text {
    color: $black-primarycolor;
  }

  &__button {
    padding: 8px 16px;
    border: 2px solid $forestgreen-primarycolor;
    border-radius: 9999px;
    background-color: $white-secondarycolor;
    color: $forestgreen-primarycolor;
    font-size: 16px;
    font-weight: 500;
    font-family: $primary-font;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 30%;

    @include tablet {
      padding: 11px 22px;
      line-height: 26px;
      font-size: 20px;
      width: 20%;
    }

    @include desktop {
      width: 10%;
    }
    &:hover {
      background-color: $forestgreen-primarycolor;
      color: $white-secondarycolor;
      .header__icon {
        fill: $white-secondarycolor;
      }
    }
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: $forestgreen-primarycolor;
  }
}
