@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photo-card-page {
  padding: 1rem;
  background-color: $background-primarycolor;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0rem 5rem 0rem 5rem;
  }
}
