@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photo-card-page {
  padding: 1rem;
  background-color: $background-primarycolor;

  @include tablet {
    padding: 2rem;
  }
}
