@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.our-mission {
  background-color: $background-primarycolor;
  padding-top: 1rem;

  @include tablet {
    padding-top: 1.5rem;
  }

  @include desktop {
    padding-top: 4rem;
    width: 72%;
  }

  &__heading {
    font-weight: 300;
  }

  &__writeup {
    margin: 0rem;
    padding: 1.5rem 0rem 3rem 0rem;
    text-align: left;

    @include tablet {
      padding: 1.5rem 0rem 3.5rem 0rem;
    }

    @include desktop {
      padding: 3rem 0rem 4rem 0rem;
      width: 100%;
    }

    &-italic {
      font-style: italic;
    }
  }
}
