@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photo-card-list {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  background-color: $background-primarycolor;
  color: $black-primarycolor;

  @include tablet {
    width: 100%;
    padding-bottom: 3rem;
  }

  @include desktop {
    gap: 1.5rem;
  }

  &-link {
    display: flex;
    color: $black-primarycolor;

    @include tablet {
      flex-basis: calc(50% - 1rem);
    }

    @include desktop {
      flex-basis: calc(33.33% - 1rem);
    }
  }
}
