@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.filter {
  background-color: $background-secondarycolor;
  padding: 1rem;

  &__header {
    color: $black-primarycolor;
  }

  &__texts {
    gap: 0.625rem;
    display: flex;
  }

  &__tags {
    border: 0.125rem solid $forestgreen-primarycolor;
    display: inline-flex;
    align-items: center;
    background-color: $white-secondarycolor;
    color: $forestgreen-primarycolor;
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;

    @include tablet {
      padding: 0.5rem 0.75rem;
      border-radius: 0.75rem;
    }
  }
}
